body {
    font-family: 'Roboto', sans-serif; 
    background-color: #121212; 
    color: #fff; 
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: rgb(28, 181, 104);
    padding: 10px 20px;
}

/* Barra de navegación */
.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Estilos para el botón de registrarse */
.menu button {
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
    margin: 0 10px;
}


.menu button:hover {
    text-decoration: underline;
}

.logo-contenedor {
    display: flex;
    align-items: center;
}
.logo-imagen {
    width: 100px;
    height: 100px;
}
.nombre-logo {
    font-size: 24px;
    margin-left: 10px;
}
.menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Main */
main {
    display: flex;
}

/* Barra lateral */
.barra-lateral {
    background-color: #222;
    padding: 20px;
    width: 11%; /* Ajusta el ancho según tus necesidades */
}
.barra-lateral ul {
    list-style: none;
    padding: 0;
}
.barra-lateral li {
    margin-bottom: 10px;
}
.barra-lateral a {
    color: #fff;
    text-decoration: none;
}

/* Contenido Principal */
.contenido-principal {
    flex: 1;
    padding: 20px;
}

/* Apuestas destacadas */
.apuesta-destacada {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.icono-deporte {
    width: 300px;
    height: 300px;
}
/* Estilos responsive */
@media screen and (max-width: 768px) {
    .secciones {
        flex-direction: column;
    }

    .seccion {
        width: 100%;
        margin-bottom: 20px;
    }

    .barra-lateral {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .menu button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .logo-imagen {
        width: 70px;
        height: 70px;
    }

    .nombre-logo {
        font-size: 18px;
    }
}